.title-item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.btn-warning-2 {
    color: #fffe;
    background-color: #ffc107;
    border-color: #ffc107;
}

.logo-siac {
    width: 12.5rem;
}

.f-size-7 {
    font-size: 15.5px;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
/* PANTALLA DE CARGA */
.centrado{
    height: 100vh;
    background-color: rgb(59, 57, 57);
    display: flex;
    justify-content: center;
    align-items: center;
}
.invisible{
    display: none;
}
.formulario_correcto{
    border: 2.5px solid rgb(10, 177, 10);
}
.formulario_incorrecto{
    border: 2.5px solid red;
    box-shadow:  1px 0px 5px 0px red;
}
.mensaje{
    color: red;
}
.mensaje_correcto{
    color: green;
}
