.title-item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.btn-warning-2 {
    color: #fffe;
    background-color: #ffc107;
    border-color: #ffc107;
}

.logo-siac {
    width: 12.5rem;
}

.f-size-7 {
    font-size: 15.5px;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
/* PANTALLA DE CARGA */
.centrado{
    height: 100vh;
    background-color: rgb(59, 57, 57);
    display: flex;
    justify-content: center;
    align-items: center;
}
.invisible{
    display: none;
}
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

* {
	box-sizing: border-box;
}


.form-control input:focus {
	outline: 0;
	border-color: #777;
}

.form-control.success input {
	border-color: #2ecc71;
}

.form-control.error input {
	border-color: #e74c3c;
}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}
